<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body style="background-color: lightslategray">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6" >
            <div class="card m-6" style="width: 30rem; background-color: darkslategrey; color: white;">
                <!--                <div class="card-header">-->
                <!--                    <h4 class="card-title mb-0">Add Group</h4>-->
                <!--                </div>-->
                <div class="card-body">
                    <form th:action="${timetableStudent.id==null?'/timetable/student/add':'/timetable/stdeunt/edit'}" th:object="${timetableStudent}" method="post" >
                        <div>
                            <h2 style="background-color: darkslategray; color: white" class="card-title text-center">Add Timetable Student</h2>
                        </div>

                        <div class="form-group">
                            <label for="timetableId">Timetable</label>
                            <select class="form-control" name="timeTableId" id="timetableId" th:field="*{timeTable.id}" required>
                                <option th:each="timetable : ${timeTables}" th:value="${timetable.id}" th:text="${timetable.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="timetableStudentId">Student</label>
                            <select class="form-control" name="timeTableStudentId" id="timetableStudentId" th:field="*{student.id}" required>
                                <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mx-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>