<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body style="background-color: lightslategray">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6" >
            <div class="card m-6" style="width: 30rem; background-color: darkslategrey; color: white;">
                <!--                <div class="card-header">-->
                <!--                    <h4 class="card-title mb-0">Add Group</h4>-->
                <!--                </div>-->
                <div class="card-body">
                    <form th:action="${timetable.id==null?'/timetable/add':'/timetable/edit'}" th:object="${timetable}" method="post" >
                        <div>
                            <h2 style="background-color: darkslategray; color: white" class="card-title text-center">Add Timetable</h2>
                        </div>
                        <div class="form-group" >
                            <label th:text="${timetable.id==null?'Add Timetable':'Edit Timetable'}" ></label>
                            <input type="text" class="form-control m-1" name="name" id="timeTableName" placeholder="Enter Timetable name" th:value="${timetable==null?'':timetable.name}">
                        </div>
                        <div class="form-group">
                            <label for="groupId">Group</label>
                            <select class="form-control" name="groupId" id="groupId" th:field="*{group.id}" required>
                                <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mx-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>